.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-muted);
  font-size: 0.9rem;
}
